.comment-wrapper {
    width: 100%;
    max-width: 480px;
    padding: 24px 0;
    border-bottom: 1px dashed #14c5e4;
    background: transparent;
}

.comment-flex {
    display: flex;
    gap: 16px;
    align-items: flex-start;
}

.avatar-container {
    flex-shrink: 0;
}

.avatar-img,
.avatar-initials {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    cuyrsor: pointer;
}

.avatar-initials {
    background-color: #4A5568;
    color: white;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.comment-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.meta-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-name-status {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 4px;
}

.user-name {
    font-weight: 700;
    font-size: 15px;
    color: #111;
}

.dot {
    color: #A0AEC0;
}

.timestamp {
    color: #A0AEC0;
    font-size: 14px;
}

.message-body {
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    margin: 0 0 16px 0;
}

/* BUTTONS */
.button-row {
    display: flex;
    gap: 12px;
}

.btn {
    padding: 10px 32px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.btn-accept {
    background-color: #8A2BE2;
    color: white;
}

.btn-reject {
    background-color: #FFF2F0;
    color: #FF5E4D;
}

.statusTab {
    display: inline-block;
}

.status-label {
    font-size: 0.7rem;
    font-weight: 400;
    text-transform: capitalize  ;
    padding: 2px 6px;
    border-radius: 5px;
    margin-left: 8px;
    display: inline-block;
    vertical-align: middle;

}

/* Status Variants */
.status-pending {
    background-color: #fff3cd;
    color: #856404;
    border: 1px solid #ffeeba;
}

.status-accepted {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.status-rejected {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.meta-row {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 4px;
}